.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  img {
    margin-right: 8px;
    width: 50px;
  }
}

.missing-img-icon {
  display: block;
  margin-right: 16px;
  font-size: 42px;
}
